{# Here we are in a <div class="row"> </div> #}

{% extends "MariageGuestBundle::layout.html.twig" %}

{% block table_guests %}
    <table class="table table-bordered table-striped">
        <thead>
            <th> Prénom     </th>
            <th> Famille    </th>
            <th> Confirmé ? </th>
            <th> Date conf  </th>
        </thead>

    </table>

{% endblock %}
