{# Here we are in a <div class="row"> </div> #}

{% extends "MariageGuestBundle::layout.html.twig" %}


{% block title %}
    <h1 class="page-header text-center titles"> Notre Histoire</h1>
{% endblock %}

{% block table_guests %}
    <div class="col-xs-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title"> Commencement </div>
            </div>
            <div class="panel-body">
                Il était une fois... Le 13 mars 2007.
                Deux étudiants à Metz...
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title"> Emménagement </div>
            </div>
            <div class="panel-body">
                Le 2 décembre 2007, nous emménageons dans notre premier appartement, au 8 rue de la Haye à Metz.
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title"> La famille s'agrandie </div>
            </div>
            <div class="panel-body">
                <p> Durant l'été 2008, nous adoptons Wall-E et Tigresse.</p>

                <img src="{{asset('photos/wally.jpg')}}" alt="photo de Wall-E" class="col-xs-4 img-thumbnail" />
                <img src="{{asset('photos/tigresse.jpg')}}" alt="photo de Tigresse"
                     class="col-xs-offset-1 col-xs-4 img-thumbnail" />
            </div>
            <div class="panel-body">
                <p>Puis les deux années suivantes, nous adopterons Crevette puis Berlioz.</p>

                <img src="{{asset('photos/crevette.jpg')}}" alt="photo de Crevette" class="col-xs-4 img-thumbnail" />
                <img src="{{asset('photos/berlioz.jpg')}}" alt="photo de Berlioz"
                     class="col-xs-offset-1 col-xs-4 img-thumbnail" />
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title"> Le Pacs </div>
            </div>
            <div class="panel-body">
                Le 3 décembre 2010, nous nous pacsons au tribunal de Metz.
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title"> Les fiancailles </div>
            </div>
            <p class="panel-body">
                En avril 2014, nous décidons de nous marier. La date est fixée au <b>13 juin 2015</b> !
            </p>
        </div>
    </div>

{% endblock  %}
