/*======================================================================
========================== CSS Style ===================================
========================================================================*/


@font-face {
    font-family: 'Titles';
    src: url('../fonts/Mf_Wedding_Bells.ttf');
}


#main-brand
{
    font-family: 'Titles', sans-serif;
    font-size: 2em;
    color: gold;
    font-weight: bold;
}

.titles
{
    font-family: 'Titles', sans-serif;
    font-size: 3.8em;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.4) 5px 5px 10px;
}


/*==================================================================================
======================================== PARAM BOOTSTRAP ===========================
====================================================================================*/

.panel-title
{
    font-size: 1.6em;
}
