/*======================================================================
========================== CSS Style ===================================
========================================================================*/

@font-face {
    font-family: 'paradise';
    src: url('../fonts/Birds_of_paradise.ttf');
}

@font-face {
    font-family: 'Titles';
    src: url('../fonts/Mf_Wedding_Bells.ttf');
}

@font-face {
    font-family: 'little-days';
    src: url('../fonts/Little_days.ttf');
}


.titles
{
    font-family: 'Titles', sans-serif;
    font-size: 3.8em;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.4) 5px 5px 10px;
}


/*==================================================================================
======================================== PARAM BOOTSTRAP ===========================
====================================================================================*/

.nav-tabs li a
{
    color: #000000;
    font-family: 'paradise', sans-serif;
    font-size: 1.78em;
}


.panel-title
{
    font-size: 2em;
    font-family: 'Titles', sans-serif;
    font-weight: bold;
}

.paradise
{
    font-family: 'paradise';
    font-size: 1.7em;
}
