{# Here we are in a <div class="row"> </div> #}

{% extends "::base.html.twig" %}

{% block body %}
    <h1 class="page-header text-center"> Liste des invités</h1>

    {% block table_guests %}
    {% endblock  %}

{% endblock %}
