{# Here we are in a <div class="row"> </div> #}

{% extends "::base.html.twig" %}

{% block body %}
    {% block title %}
    {% endblock %}

    {% block table_guests %}
    {% endblock  %}

{% endblock %}
